@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  padding: 0;  
  margin: 0;
}

body {
  background: #333;
}

.container {
  max-width: 650px;
  margin: auto;
  border: whitesmoke solid 2px;
  background: whitesmoke;
}

.title {
  position: fixed;
  right: 50px;
  top: 50px;
  border: 1px solid whitesmoke;
  padding: 10px;
  text-align: center;
}
.title h2 {
  color: whitesmoke;
  font-weight: 200;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-img img,
.img-group-box img
{
  width: 100%;
}

.img-group-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.img-group-box img:hover {
  cursor: pointer;
}

.logo {
  text-align: center;
  padding: 20px;
}

.logo p {
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
}


/* Fade in animation */

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.7s linear forwards;
}

/* responsive setting */

@media(max-width: 500px){
  body {
    padding: 20px;
  }
  .img-group-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    background-color: rgba(0,0,0,0.3);
    right: 10px;
    top: 10px;
    padding: 5px;
  }
  .title h2 {
    font-size: 14px;
  }  
}